@import "./src/scss/base/mixins";

.product__Reviews{
  margin-bottom: 120px;
}
.reviews{
  margin-top: 44px;
  display: flex;
  margin-bottom: 120px;

}
.rating{
  margin-right: 146px;
  &__all{
    margin-bottom: 22px;
    display: flex;
    &-number{
      margin-left: 10px;
      @include text("Rubik",700,18px,150%,#414141);


    }

  }
  &__others{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }


}
.rev{
  display: flex;
  flex-direction: column;
  &__user{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    @include text("Rubik",400,18px,150%,#414141);

  }
  &__rating{
    margin-bottom: 8px;

  }
  &__text{
    margin-bottom: 44px;
    @include text("Rubik",700,16px,150%,#414141);

  }

}
.opinion{
  display: flex;
  gap: 8px;
  &__choose{
    @include text("Rubik",700,18px,150%,#414141);

    margin-bottom: 18px;

  }
  &__text{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;

    width: 688px;
    height: 100px;

    /* Main/Surface */

    background: #FFFFFF;
    /* Grayscale / Light */

    border: 1px solid #BFBFBF;
    border-radius: 4px;
  }
  &__btn{
    justify-content: center;
    margin-top: 16px;
    width: 188px;
    height: 40px;

    background: #FCD5BA;
    border-radius: 4px;

    @include text("Rubik",400,16px,150%,#FF6633);

    display: flex;
    align-items: center;
    text-align: center;



  }
}