@import "./src/scss/base/mixins";
.star-rating{
  margin-top: 8px;
}
.productReviews{
  padding-bottom: 120px;
  background: rgba(249, 244, 226, 1);
}
.reviews{
  margin-top: 44px;
  display: flex;



}
.rating{
  margin-right: 146px;
  &__all{
    align-items: center;
    width: 166px;
    margin-bottom: 22px;
    display: flex;
    &-number{

      margin-left: 10px;
      @include text("Rubik",700,18px,150%,#414141);


    }

  }
  &__others{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
  &__others div{
    display: flex;
    justify-content: space-between;
  }


}
.rev{
  display: flex;
  flex-direction: column;
  &__user{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    @include text("Rubik",400,18px,150%,#414141);

  }
  &__rating{
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 10px;

  }

  &__date{
    @include text("Rubik",400,12px,150%,#8F8F8F);

  }
  &__text{
    margin-bottom: 44px;
    @include text("Rubik",700,16px,150%,#414141);

  }

}
.opinion{

  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 18px;
  &__choose{
    @include text("Rubik",700,18px,150%,#414141);





  }
  &__text{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;

    width: 688px;
    height: 100px;

    /* Main/Surface */

    background: #FFFFFF;
    /* Grayscale / Light */

    border: 1px solid #BFBFBF;
    border-radius: 4px;
  }
  &__btn{
    justify-content: center;
    margin-top: 16px;
    width: 188px;
    height: 40px;

    background: #FCD5BA;
    border-radius: 4px;

    @include text("Rubik",400,16px,150%,#FF6633);

    display: flex;
    align-items: center;
    text-align: center;



  }
}

