@import "../../../scss/base/mixins";
.new{
  background: rgba(249, 244, 226, 1);
  .container{
    padding:0 0 120px 0;
  }
  &__wrapper{
    display: flex;
    column-gap: 40px;
  }
  &__row{
    display: flex;
    justify-content: space-between;
    margin:0 0 40px 0;
  }
  &__block{
    display: flex;
    align-items: center;
    column-gap:16px;
    @include text("Rubik",400,16px,150%,#606060);
  }
  &__title{
    @include text("Rubik",700,36px,150%,#414141);
  }
  &__wrapp{
    display: flex;
    justify-content: space-between;
    margin: 0 0 8px 0;
  }
}