@import "./src/scss/base/mixins";


.ProductCard{
  padding: 9px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  &__img{
    position: relative;
  }
  &__favorite{

    position: absolute;
    top: 5px;
    right: 5px;




  }
  &__price{
    @include text("Rubik",700,18px,150%,#414141);

    margin: 8px 0 26px 8px;
  }
  &__text{
    width: 256px;
    @include text("Rubik",700,18px,150%,#414141);

  }
  &__rating{
    margin: 8px 0;
  }
  &__btn{
    @include text("Rubik",700,16px,150%,#70C05B);
    padding: 10px 0 ;

    border: 2px solid #70C05B;
    border-radius: 8px;
    background: transparent;
    &:hover{
      background: #FF6633;
      color: #ffffff;
      border:2px solid #FF6633;
    }
  }

}