.productName{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  /* identical to box height, or 36px */


  /* Main/onSurface */

  color: #414141;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}


.info{
  display: flex;
  margin: 24px 0;
  &__circle{
    margin-right:24px ;
  }
  &__rating{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 34px;

  }
  &__share{
    display: flex;
    align-items: center;
    gap: 9px;
    margin-right: 41px;

  }
  &__favorite{
    display: flex;
    align-items: center;
    gap: 9px;
  }
}
.basket{
  margin-bottom: 120px;
  display: flex;
  &__img{
    margin-right: 40px;
    display: flex;
    &-left{
      margin-right: 16px;
      row-gap: 16px;
      display: flex;
      flex-direction: column;
    }
    &-right{
      display: flex;
      position: relative;
    }
    &-discount{
      position: absolute;
      padding: 4px 8px;
      background: #FF6633;
      right: 20px;
      top: 20px;

    }
  }
  &__buy{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
  }
  &__price{
    display: flex;


  }
  &__usually{
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    margin-right: 113px;
    &-price{
      font-family: 'Rubik',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 150%;
      display: flex;
      align-items: center;
      color: #606060;

    }
    &-text{
      font-family: 'Rubik',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      /* identical to box height, or 18px */


      /* Grayscale / Light */

      color: #BFBFBF;

    }


  }
  &__card{
    display: flex;
    flex-direction: column;
    &-price{
      font-family: 'Rubik',sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 150%;


      color: #414141;

    }
    &-text{
      gap: 6px;
      display: flex;
      /* Desc/Text/XS */

      font-family: 'Rubik',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      color: #BFBFBF;
      align-items: center;


    }

  }
  &__btn{
    margin-bottom: 16px;
    margin-top: 19px;
    display: flex;
    align-items: center;
    background: #FF6633;
    border-radius: 4px;
    font-family: 'Rubik',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;

    text-align: center;

    /* Main/onPrimary */

    color: #FFFFFF;



    width: 376px;
    height: 60px;
    &-svg{
      margin-right: 100px;
      margin-left: 16px;


    }

  }

  &__client{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;

  }
  &__bonus{
    display: flex;
    gap: 7px;
    &-boll{
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #70C05B;
      color: #70C05B;
    }
    &-text{
      font-family: 'Rubik',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;

      display: flex;
      align-items: center;
      text-align: center;

      /* Main/Secondary */

      color: #70C05B;

    }

  }
  &__notification{
    gap: 12px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    &-svg{

    }
    &-text{
      font-family: 'Rubik',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      /* or 18px */

      display: flex;
      align-items: center;
      text-align: center;

      /* Grayscale / Hardest */

      color: #606060;


      /* Inside auto layout */

      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 1;
    }
  }
  &__brand{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 8px;
    gap: 40px;

    width: 376px;
    height: 26px;

    /* Grayscale / Lightest */

    background: #F3F2F1;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  &__country{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 8px;
    gap: 40px;

    width: 376px;
    height: 26px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  &__pack{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 8px;
    gap: 40px;

    width: 376px;
    height: 26px;

    /* Grayscale / Lightest */

    background: #F3F2F1;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  &__similar{


    display: flex;
    flex-direction: column;
    &-dist{
      row-gap: 16px;
      display: flex;
      flex-direction: column;
    }

    &-title {


      margin-bottom: 8px;
      font-family: 'Rubik', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;

      color: #606060;


      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 0;

    }
    &-price{
      font-family: 'Rubik',sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 150%;
      /* identical to box height, or 27px */


      /* Main/onSurface */

      color: #414141;


      /* Inside auto layout */

      flex: none;
      order: 0;
      flex-grow: 0;

    }


  }


}

