@import "../../../scss/base/mixins";

.product{
  padding: 24px 0 120px 0;

  background: rgba(249, 244, 226, 1);


  &__order {
    padding: 3px 0;
    display: flex;
    margin-bottom: 24px;
    align-items: center;
    column-gap: 16px;
  }
  &__order-item {
    display: flex;
    color: #414141;
    align-items: center;
  }
  &__order-item:after {
    content: url(../../Favorite/img/breadcrumb.svg);
    display: inline;
    margin-left: 16px;
  }
  &__order-item:last-child {
    color: #8F8F8F;
  }
  &__order-item:last-child:after
  {
    content: '';
  }
  &__order-link {
    color: #414141;
  }


  &__info{
    display: flex;
    margin: 24px 0;
  }

  &__name{

    @include text("Rubik",700,24px,150%,#414141);

  }
  &__number{
    margin-right:24px ;
  }
  &__rating{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 34px;

  }
  &__share{
    display: flex;
    align-items: center;
    gap: 9px;
    margin-right: 41px;

  }
  &__favorite{
    display: flex;
    align-items: center;
    gap: 9px;
  }
}
.basket{

  display: flex;
  &__img{
    margin-right: 40px;
    display: flex;
    &-left{

      margin-right: 16px;
      row-gap: 16px;
      display: flex;
      flex-direction: column;
    }
    &-left img{
      object-fit: cover;
      width: 64px;
      height: 87px;
      background: #FFFFFF;
    }
    &-right{
      width: 504px;
      height: 496px;
      background: #FFFFFF;
      display: flex;
      position: relative;
    }
    &-right img{
      object-fit: cover;
    }
    &-discount{
      position: absolute;
      padding: 4px 8px;
      background: #FF6633;
      right: 20px;
      top: 20px;

    }
  }
  &__buy{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
  }
  &__price{
    display: flex;


  }
  &__usually{
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    margin-right: 113px;
    &-price{
      @include text("Rubik",400,24px,150%,#606060);
      display: flex;
      align-items: center;


    }
    &-text{
      @include text("Rubik",400,12px,150%,#BFBFBF);

    }


  }
  &__card{
    display: flex;
    flex-direction: column;
    &-price{
      @include text("Rubik",700,36px,150%,#414141);


    }
    &-text{
      gap: 6px;
      display: flex;
      @include text("Rubik",400,12px,150%,#BFBFBF);


      align-items: center;


    }

  }
  &__btn{
    margin-bottom: 16px;
    margin-top: 19px;
    display: flex;
    align-items: center;
    background: #FF6633;
    border-radius: 4px;
    @include text("Rubik",400,24px,150%,#FFFFFF);




    width: 376px;
    height: 60px;
    &-svg{
      margin-right: 100px;
      margin-left: 16px;


    }

  }

  &__client{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;

  }
  &__bonus{
    display: flex;
    gap: 7px;
    &-circle{
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #70C05B;
      color: #70C05B;
    }
    &-text{
      @include text("Rubik",400,12px,150%,#70C05B);


      display: flex;
      align-items: center;
      text-align: center;


    }

  }
  &__notification{
    gap: 12px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    &-svg{

    }
    &-text{
      @include text("Rubik",400,12px,150%,#606060);




    }
  }
  &__brand{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 8px;
    gap: 40px;

    width: 376px;
    height: 26px;

    background: #F3F2F1;


  }
  &__country{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 8px;
    gap: 40px;

    width: 376px;
    height: 26px;

  }
  &__pack{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 8px;
    gap: 40px;

    width: 376px;
    height: 26px;

    /* Grayscale / Lightest */

    background: #F3F2F1;

  }

  &__similar{


    display: flex;
    flex-direction: column;
    &-dist{
      row-gap: 16px;
      display: flex;
      flex-direction: column;
    }

    &-title {


      margin-bottom: 8px;
      @include text("Rubik",400,16px,150%,#606060);


    }
    &-price{
      @include text("Rubik",700,18px,150%,#414141);


    }

  }

}

