@import "src/scss/base/mixins";
.catalog{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background: #70C05B;
  border-radius: 4px;
  padding: 8px;
  max-width: 140px;
  margin-right: 16px;
  &__title{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content{
    position: absolute;
    top: 100%;
    left: 0;
    background: #70C05B;
    min-width: 100%;
    border-radius: 4px;
    padding: 8px;
  }
  &__txt{
    @include text("Rubik",400,16px, 150%,#fff);
  }
  .ham {
    width: 24px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#FFF;
    stroke-width:3;
    stroke-linecap:round;
  }
  .ham1 .top {
    stroke-dasharray: 40 139;
  }
  .ham1 .bottom {
    stroke-dasharray: 40 180;
  }
  .ham1.active .top {
    stroke-dashoffset: -98px;
  }
  .ham1.active .bottom {
    stroke-dashoffset: -138px;
  }
}