@import "../../../../scss/base/mixins";

.newsCart{
    &__subtitle{
      @include text(400,12px,150%,#8F8F8F);
      width: 356px;
      margin:  0 0 10px 10px;
    }
  &__text{
    @include text(400,16px,150%,#8F8F8F);
    width: 316px;
    margin:  0 0 10px 10px;
  }
  &__txt{
    @include text(700,18px,150%,#414141);
    width: 356px;
    margin:  0 0 10px 10px;
  }
  &__btn{
    background: #E5FFDE;
    padding: 8px 14px;
    @include text(400,16px,150%,#70C05B);
    border-radius: 5px;
    margin:0 0 0 10px ;
  }
  &__block{
    background: rgba(255, 255, 255, 1);
    width: 376px;
    padding: 0 0 10px 0;
  }
}