@import "./src/scss/base/mixins";

.SaleCard{
  padding: 9px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  margin-right: 40px;

  &__img{
    position: relative;
  }
  &__favorite{

    position: absolute;
    top: 5px;
    right: 5px;





  }
  &__discount{
    width: 40px;
    height: 24px;
    background: #FF6633;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position:absolute;
    top:120px;
    left:8px;
    @include text("Rubik",400,16px,150%,#ffffff)
  }
  &__price{
    display: flex;
    justify-content: space-between;
    margin: 0 0 8px 0;

    &-left{

    }


    &-new {
      display: flex;
      flex-direction: column;
      @include text("Rubik",700,18px,150%,#414141);



    }
    &-old{
      @include text("Rubik",400,16px,150%,#606060);
      display: flex;
      align-items: center;



    }
    &__text{
      width: 256px;
      @include text("Rubik",700,18px,150%,#414141);

    }

  }
  &__text{
    height: 48px;
    width: 256px;
    @include text("Rubik",700,18px,150%,#414141);
    overflow: hidden;
  }
  &__rating{
    margin: 8px 0;
  }
  &__btn{
    @include text("Rubik",700,16px,150%,#70C05B);
    padding: 10px 0 ;

    border: 2px solid #70C05B;
    border-radius: 8px;
    background: transparent;
    &:hover{
      background: #FF6633;
      color: #ffffff;
      border:2px solid #FF6633;
    }
  }

}