@import "../../../scss/base/mixins";
.deliver{

  background: url("./img/Group 7100.png") no-repeat;
  &__wrapper{
     display: flex;
    align-items: center;
    column-gap: 20px;
    justify-content: center;
  }
  &__picture{
    width: 200px;
    height: 200px;
  }
  &__title{
    @include text("Rubik",700,48px,150%,rgba(65, 65, 65, 1))
  }
}